# Itunes Charts

In [1]:
import sys
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### iTunes Top Alternative Songs

In [11]:
url = "http://www.popvortex.com/music/charts/top-alternative-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [12]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [13]:
len(soup.select("em.artist"))

100

In [14]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_alternative_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_alternative_songs.head()

,title,artist
0,Heat Waves,Glass Animals
1,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert
2,Woke Up This Morning (Detroit Mix),Alabama 3
3,"Enemy (From the series ""Arcane League of Legen...","Imagine Dragons, JID & League of Legends"
4,Woke up This Morning (The Sopranos Mix),Alabama 3

In [15]:
iTunes_top_alternative_songs.to_csv("iTunes_top_alternative_songs.csv",index=False)

#### iTunes Top Bluegrass Songs

In [16]:
url = "http://www.popvortex.com/music/charts/top-bluegrass-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [17]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

99

In [18]:
len(soup.select("em.artist"))

99

In [19]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip())

In [20]:
iTunes_top_bluegrass_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_bluegrass_songs.head()

,title,artist
0,When You Say Nothing At All (Live From The Lou...,Alison Krauss & Union Station
1,If It Hadn't Been For Love,The SteelDrivers
2,The Big Rock Candy Mountain,Harry McClintock
3,Blue Side Of The Mountain,The SteelDrivers
4,I Don't Mind,Sturgill Simpson

In [21]:
iTunes_top_bluegrass_songs.to_csv("iTunes_top_bluegrass_songs.csv",index=False)

#### iTunes Top Blues Songs

In [22]:
url = "http://www.popvortex.com/music/charts/top-blues-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [23]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
num_iter

100

In [24]:
len(soup.select("em.artist"))

100

In [25]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_blues_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_blues_songs.head()

                         title                  artist
0               Keep On Rollin             King George
1  Keep On Rollin (Radio Edit)             King George
2                      At Last              Etta James
3              Roll It Roll It  Gentry Jones & Mr. Sam
4         Smokestack Lightnin'            Howlin' Wolf

In [26]:
iTunes_top_blues_songs.to_csv("iTunes_top_blues_songs.csv",index=False)

#### iTunes Top Gospel & Christian Songs

In [27]:
url = "http://www.popvortex.com/music/charts/top-christian-gospel-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [28]:
soup = BeautifulSoup(response.content, "html.parser")
soup
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [29]:
len(soup.select("em.artist"))

100

In [30]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_gospel_and_christian_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_gospel_and_christian_songs.head()

                             title          artist
0  In Jesus Name (God Of Possible)    Katy Nichole
1                         My Jesus     Anne Wilson
2                  Scars in Heaven  Casting Crowns
3                          You Say   Lauren Daigle
4                   Sunday Sermons     Anne Wilson

In [31]:
iTunes_top_gospel_and_christian_songs.to_csv("iTunes_top_gospel_and_christian_songs.csv",index=False)

#### iTunes Top Country Songs

In [32]:
url = "http://www.popvortex.com/music/charts/top-country-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [33]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

99

In [34]:
len(soup.select("em.artist"))

99

In [35]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_country_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_country_songs.head()

                         title         artist
0               'Til You Can't   Cody Johnson
1                           AA   Walker Hayes
2             Sand In My Boots  Morgan Wallen
3  Buy Dirt (feat. Luke Bryan)   Jordan Davis
4                   Fancy Like   Walker Hayes

In [36]:
iTunes_top_country_songs.to_csv("iTunes_top_country_songs.csv",index=False)

#### iTunes Top Dance Songs

In [37]:
url = "http://www.popvortex.com/music/charts/top-dance-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [38]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [39]:
len(soup.select("em.artist"))

100

In [40]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_dance_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_dance_songs.head()

                         title               artist
0                    The Motto     Tiësto & Ava Max
1                When I'm Gone  Alesso & Katy Perry
2  Do It To It (feat. Cherish)               Acraze
3         Don't Forget My Love       Diplo & Miguel
4       Tell Me Something Good         Ewan McVicar

In [41]:
iTunes_top_dance_songs.to_csv("iTunes_top_dance_songs.csv",index=False)

#### iTunes Top Electronic Songs

In [42]:
url = "http://www.popvortex.com/music/charts/top-electronic-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [43]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [44]:
len(soup.select("em.artist"))

100

In [45]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_electronic_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_electronic_songs.head()

                                     title        artist
0                        Love In the Music        Baauer
1  The Last Goodbye (feat. Bettye LaVette)        ODESZA
2                        You Want To Bamba  dj pertubado
3                                   Flower          Moby
4            Get You the Moon (feat. Snøw)          Kina

In [46]:
iTunes_top_electronic_songs.to_csv("iTunes_top_electronic_songs.csv",index=False)

#### iTunes Top Heavy Metal Songs

In [47]:
url = "http://www.popvortex.com/music/charts/top-heavy-metal-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [48]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [49]:
len(soup.select("em.artist"))

100

In [50]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_heavy_metal_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_heavy_metal_songs.head()

                                               title            artist
0                                      Enter Sandman         Metallica
1                            Call Me Little Sunshine             Ghost
2  Valhalla Calling (feat. Peyton Parrish) [Duet ...  Miracle of Sound
3                                        Crazy Train     Ozzy Osbourne
4                               Nothing Else Matters         Metallica

In [51]:
iTunes_top_heavy_metal_songs.to_csv("iTunes_top_heavy_metal_songs.csv",index=False)

#### iTunes Top Indie Rock Songs

In [52]:
url = "http://www.popvortex.com/music/charts/top-indie-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [53]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

95

In [54]:
len(soup.select("em.artist"))

95

In [55]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_indie_rock_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_indie_rock_songs.head()

                      title                     artist
0          The Night We Met                 Lord Huron
1                Wonderwall                      Oasis
2       Champagne Supernova                      Oasis
3                 Texas Sun  Khruangbin & Leon Bridges
4  Don't Look Back in Anger                      Oasis

In [56]:
iTunes_top_indie_rock_songs.to_csv("iTunes_top_indie_rock_songs.csv",index=False)

#### iTunes Top Jazz Songs

In [57]:
url = "http://www.popvortex.com/music/charts/top-jazz-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [58]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [59]:
len(soup.select("em.artist"))

100

In [60]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_jazz_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_jazz_songs.head()

                                     title                  artist
0                   What a Wonderful World         Louis Armstrong
1                                  L-O-V-E         Nat "King" Cole
2  Just the Two of Us (feat. Bill Withers)  Grover Washington, Jr.
3                                 Stardust              Samara Joy
4                    Don't Worry, Be Happy          Bobby McFerrin

In [61]:
iTunes_top_jazz_songs.to_csv("iTunes_top_jazz_songs.csv",index=False)

#### iTunes Top 100 K-Pop Songs

In [62]:
url = "http://www.popvortex.com/music/charts/top-kpop-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [63]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

99

In [64]:
len(soup.select("em.artist"))

99

In [65]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_kpop_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_kpop_songs.head()

                               title     artist
0  Stay Alive (Prod. by SUGA of BTS)  Jung Kook
1                             JIKJIN   TREASURE
2                 River Flows In You     Yiruma
3                               INVU    TAEYEON
4                                  U   TREASURE

In [66]:
iTunes_top_kpop_songs.to_csv("iTunes_top_kpop_songs.csv",index=False)

#### iTunes Top Latin Songs

In [67]:
url = "http://www.popvortex.com/music/charts/top-latin-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [68]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [69]:
len(soup.select("em.artist"))

100

In [70]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_latin_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_latin_songs.head()

          title              artist
0        MAMIII  Becky G. & KAROL G
1   Sus Huellas        Romeo Santos
2         Pepas             Farruko
3       Leyenda            Anuel AA
4  Fumando Mota            Los Lara

In [71]:
iTunes_top_latin_songs.to_csv("iTunes_top_latin_songs.csv",index=False)

#### iTunes Top Pop Songs

In [72]:
url = "http://www.popvortex.com/music/charts/top-pop-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [73]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [74]:
len(soup.select("em.artist"))

100

In [75]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_pop_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_pop_songs.head()

                                          title          artist
0             Stay Alive (Prod. by SUGA of BTS)       Jung Kook
1               Still D.R.E. (feat. Snoop Dogg)         Dr. Dre
2  The Joker And The Queen (feat. Taylor Swift)      Ed Sheeran
3                          On My Way (Marry Me)  Jennifer Lopez
4                                       abcdefu           GAYLE

In [76]:
iTunes_top_pop_songs.to_csv("iTunes_top_pop_songs.csv",index=False)

#### iTunes Top R&B Songs

In [77]:
url = "http://www.popvortex.com/music/charts/top-soul-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [78]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [79]:
len(soup.select("em.artist"))

100

In [80]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_soul_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_soul_songs.head()

                           title                       artist
0                  Family Affair                Mary J. Blige
1                  No More Drama                Mary J. Blige
2          Good Morning Gorgeous                Mary J. Blige
3                      Suga Suga                    Baby Bash
4  Ain't No Mountain High Enough  Marvin Gaye & Tammi Terrell

In [81]:
iTunes_top_soul_songs.to_csv("iTunes_top_soul_songs.csv",index=False)

#### iTunes Top Hip Hop & Rap Songs

In [82]:
url = "http://www.popvortex.com/music/charts/top-rap-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [83]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [84]:
len(soup.select("em.artist"))

100

In [85]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_hip_hop_and_rap_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_hip_hop_and_rap_songs.head()

                                              title   artist
0               The Next Episode (feat. Snoop Dogg)  Dr. Dre
1  California Love (feat. Roger Troutman & Dr. Dre)     2Pac
2                   Forgot About Dre (feat. Eminem)  Dr. Dre
3          Nuthin' but a G thang (feat. Snoop Dogg)  Dr. Dre
4                                        In da Club  50 Cent

In [86]:
iTunes_top_hip_hop_and_rap_songs.to_csv("iTunes_top_hip_hop_and_rap_songs.csv",index=False)

#### iTunes Top Reggae Songs

In [87]:
url = "http://www.popvortex.com/music/charts/top-reggae-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [88]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [89]:
len(soup.select("em.artist"))

100

In [90]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_reggae_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_reggae_songs.head()

                                               title                    artist
0          Here Comes the Hotstepper (Heartical Mix)                Ini Kamoze
1                                 Three Little Birds  Bob Marley & The Wailers
2                               Angel (feat. Rayvon)                    Shaggy
3  Melô de Carla Cintia (feat. Id produções) [Reg...               Luciano CDs
4                                            Bam Bam              Sister Nancy

In [91]:
iTunes_top_reggae_songs.to_csv("iTunes_top_reggae_songs.csv",index=False)

#### iTunes Top Reggaeton Songs

In [92]:
url = "http://www.popvortex.com/music/charts/top-reggaeton-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [93]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [94]:
len(soup.select("em.artist"))

100

In [95]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_reggaeton_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_reggaeton_songs.head()

    title                   artist
0   Pepas                  Farruko
1   Ocean                  KAROL G
2    Eazt              Jay Wheeler
3  DÁKITI  Bad Bunny & Jhay Cortez
4   Pepas                  Farruko

In [96]:
iTunes_top_reggaeton_songs.to_csv("iTunes_top_reggaeton_songs.csv",index=False)

#### iTunes Top Rock Songs

In [97]:
url = "http://www.popvortex.com/music/charts/top-rock-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [98]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [99]:
len(soup.select("em.artist"))

100

In [100]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_rock_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_rock_songs.head()

                title                       artist
0            Showdown     Electric Light Orchestra
1  In the Air Tonight                State of Mine
2       God's Country  State of Mine & Drew Jacobs
3        The Rumbling                          SiM
4              Beggin                     Måneskin

In [101]:
iTunes_top_rock_songs.to_csv("iTunes_top_rock_songs.csv",index=False)

#### iTunes Top Soundtrack Songs

In [102]:
url = "http://www.popvortex.com/music/charts/top-soundtrack-songs.php"
response = requests.get(url)
response.content
response.status_code

200

In [103]:
soup = BeautifulSoup(response.content, "html.parser")
title = []
artist = []
num_iter = len(soup.select("cite.title"))
print(num_iter)

100

In [104]:
len(soup.select("em.artist"))

100

In [105]:
for i in range(num_iter):
    title.append(soup.select("cite.title")[i].get_text().strip()) 
    artist.append(soup.select("em.artist")[i].get_text().strip()) 
iTunes_top_soundtrack_songs = pd.DataFrame({"title":title,"artist":artist})
iTunes_top_soundtrack_songs.head()

,title,artist
0,Lose Yourself,Eminem
1,We Don't Talk About Bruno,"Carolina Gaitán - La Gaita, Mauro Castillo, Ad..."
2,Lose Yourself,Eminem
3,Surface Pressure,Jessica Darrow
4,The Family Madrigal,"Stephanie Beatriz, Olga Merediz & Encanto - Cast"

In [106]:
iTunes_top_soundtrack_songs.to_csv("iTunes_top_soundtrack_songs.csv",index=False)